.companyname {
    margin-right: 100px;
    text-align: center;
}

.menu {
    margin-right: 30px;
}

#main {
    background-color: lavender;
    height: 800px;
    text-align: center;
}

#member {
    background-color: pink;
    height: 800px;
    text-align: center;
}

#project {
    background-color: lightsalmon;
    height: 800px;
    text-align: center;
}

footer {
    text-align: center;
}
